.mainContainer {
    padding: 50px;
}

.header {
    background-color: lightcyan;
    color: rgb(224, 9, 9);
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
}

.femaleGender{
    color: red;
}
.maleGender {
    color: blue;
}
.otherGender {
    color: green;
}