<div class="container">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h3>
                        <div>
                            Departments (Authentication Not Required...jwt)
                        </div>
                        <hr />      
                        <div>
                            <button *ngIf="!newDeptAddPanel" type="button" 
                                (click)="addDept()" 
                                class="btn btn-success">Add Department</button>
                        </div>
                    </h3>               
                </div>
                <div class="card-body">
                    <div class="container" *ngIf="newDeptAddPanel">
                        <div class="col-md-7 mx-auto">
                            <div class="card">
                                <div class="card-header">
                                    <h3>New Department</h3>
                                    <h6 *ngIf="apiResponse">
                                        <span style="color: red;">
                                            {{apiResponse}}
                                        </span>
                                    </h6>
                                </div>
                                <div class="card-body">
                                    <form class="form-dept" [formGroup]="deptForm" (ngSubmit)="onSubmit()">
                                        <div class="form-group">
                                            <label>Department Name</label>
                                            <input type="text" class="form-control" formControlName="DepartmentName">
                                            <span class="text-danger"
                                                *ngIf="(deptFormControl.DepartmentName.touched || submitted) && deptFormControl.DepartmentName.errors?.required">
                                                Department Name is required
                                            </span>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <button type="submit" 
                                                        class="btn btn-success">
                                                            New Department
                                                    </button>
                                                </div>
                                                <div class="col-sm-6">
                                                    <button type="button" 
                                                        (click)="resetDept()" 
                                                        class="btn btn-primary">
                                                        Cancel
                                                    </button>
                                                </div>
                                            </div>
                                        </div>                                       
                                    </form>
                                </div>
                            </div>
                        </div>   
                        <p></p>     
                    </div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Department Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let d of departments">
                                <td>{{d.departmentId}}</td>
                                <td>{{d.departmentName}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>