<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

<div class="container">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <div class="card">
                <div class="card-header" style="background-color: lightyellow;">
                    <h3>
                        <div>
                            Departments
                        </div>
                        <hr />      
                        <div>
                            <button *ngIf="!newDeptAddPanel" 
                                type="button" 
                                (click)="addDept()" 
                                class="btn btn-success">Add Department</button>
                        </div>
                    </h3>               
                </div>
                <div class="card-body">
                    <div class="container" *ngIf="newDeptAddPanel">
                        <div class="col-md-7 mx-auto">
                            <div class="card" style="background-color: lightblue;">
                                <div class="card-header">
                                    <h3>
                                        <div>
                                            Department - Add
                                        </div>
                                        <hr />
                                        <h4 *ngIf="apiResponse">
                                            <span [style.color]="responseColor">
                                                {{apiResponse}}
                                            </span>
                                            <hr />
                                        </h4>
                                    </h3>
                                </div>
                                <div class="card-body">
                                    <form class="form-dept" 
                                        [formGroup]="deptForm" 
                                        (ngSubmit)="onSubmit()">
                                        <div class="form-group">
                                            <label>Department Name</label>
                                            <input type="text" class="form-control" formControlName="DepartmentName">
                                            <span class="text-danger"
                                                *ngIf="(deptFormControl.DepartmentName.touched || submitted) && deptFormControl.DepartmentName.errors?.required">
                                                Department Name is required
                                            </span>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <button type="submit" 
                                                        class="btn btn-success">
                                                            New Department
                                                    </button>
                                                </div>
                                                <div class="col-sm-6">
                                                    <button type="button" 
                                                        (click)="resetDept()" 
                                                        class="btn btn-primary">
                                                        Cancel
                                                    </button>
                                                </div>
                                            </div>
                                        </div>                                       
                                    </form>
                                </div>
                            </div>
                        </div>   
                        <p></p>     
                    </div>
                    <table class="table table-striped">
                        <thead>
                            <tr>                                
                                <th>#</th>
                                <th>Department Name</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let d of departments">                       
                                <td>{{d.departmentId}}</td>
                                <td>
                                    {{d.departmentName}}                                 
                                </td>
                                <td>
                                    <div class="row">
                                        <div class="col-1"></div>
                                        <div class="col-1">
                                            <button type="button" 
                                                (click)="editDept(d)" 
                                                class="btn btn-primary">
                                                <i class="bi bi-pencil-square"></i>
                                            </button>
                                        </div>
                                        <div class="col-1"></div>
                                        <div class="col-1">
                                            <button type="button" 
                                                (click)="removeDept(d)" 
                                                class="btn btn-danger">
                                                <i class="bi bi-trash"></i>
                                            </button>
                                        </div>
                                        <div class="col-8"></div>
                                    </div>                                   
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>