<div class="container">
    <div class="row">
        <div class="col-md-12 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h3>
                        <div>
                            Assignments (Authentication Not Required...jwt)
                        </div>
                        <hr />
                        <div>
                            <button *ngIf="!newAsmtAddPanel" type="button" (click)="addAsmt()"
                                class="btn btn-success">Add Assignment</button>
                        </div>
                    </h3>
                </div>
                <div class="card-body">
                    <div class="container" *ngIf="newAsmtAddPanel">
                        <div class="col-md-7 mx-auto">
                            <div class="card">
                                <div class="card-header">
                                    <h3>New Assignment</h3>
                                    <h6 *ngIf="apiResponse">
                                        <span style="color: red;">
                                            {{apiResponse}}
                                        </span>
                                    </h6>
                                    <!-- file upload control -->
                                    <app-upload (onUploadFinished)="uploadFinished($event)">
                                    </app-upload>

                                </div>
                                <div class="card-body">
                                    <form *ngIf="asmtDetailsPanel" 
                                        class="form-asmt" 
                                        [formGroup]="asmtForm" 
                                        (ngSubmit)="onSubmit()">
                                        <div class="form-group">
                                            <label>Title</label>
                                            <input type="text" class="form-control" formControlName="Title">
                                            <div *ngIf="submitted && asmtFormControl.Title.errors?.required" 
                                                class="alert alert-danger mt-2">
                                                Title Required
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Details</label>
                                            <input type="text" class="form-control" 
                                                formControlName="Details">                                          
                                            <div *ngIf="submitted && asmtFormControl.Details.errors?.required" 
                                                class="alert alert-danger mt-2">
                                                Details Required
                                            </div>
                                        </div>

                                        <!-- date complexity -->
                                        <div class="form-group">
                                            <label>Asmt. Last Submission Date</label>
                                            <div class="input-group">
                                                <input class="form-control" 
                                                    placeholder="yyyy-mm-dd" 
                                                    name="dp" formControlName="AsmtLastDate" 
                                                    ngbDatepicker
                                                    #d="ngbDatepicker">
                                                <div class="input-group-append">
                                                    <button class="btn btn-outline-secondary calendar" 
                                                    (click)="d.toggle()" type="button"></button>
                                                </div>
                                            </div>
                                            <div *ngIf="submitted && asmtFormControl.AsmtLastDate.errors?.required" 
                                                class="alert alert-danger mt-2">
                                                Assignment Last Submission Date Required
                                            </div>
                                        </div>
                                  

                                        <!-- department list -->
                                        <div class="form-group">
                                            <label>Department : </label>
                                            <select class="form-control" 
                                                (change)="changeDepartment($event)"
                                                formControlName="DepartmentId">
                                                <option value="">Choose Department</option>
                                                <option value={{d.departmentId}} 
                                                    *ngFor="let d of departments">
                                                    {{d.departmentName}}
                                                </option>
                                            </select>                                         
                                            <div *ngIf="submitted && asmtFormControl.DepartmentId.errors?.required" 
                                                class="alert alert-danger mt-2">
                                                Please choose Department
                                            </div>
                                        </div>

                                        <!-- faculty list -->
                                        <div class="form-group">
                                            <label>Faculty : </label>
                                            <select class="form-control" 
                                                formControlName="FacultyId">     
                                                <option disabled>Choose Faculty</option>
                                                <option value="">Choose Faculty</option>                                                
                                                <option value={{f.facultyId}} 
                                                    *ngFor="let f of faculties">
                                                    {{f.facultyName}}
                                                </option>
                                            </select>                                          
                                            <div *ngIf="submitted && asmtFormControl.FacultyId.errors?.required" 
                                                class="alert alert-danger mt-2">
                                                Please choose Faculty
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <button type="submit" class="btn btn-success">
                                                        New Assignment
                                                    </button>
                                                </div>
                                                <div class="col-sm-6">
                                                    <button type="button" 
                                                        data-toggle="tooltip" 
                                                        title="If you Cancel, then you will loose any uploaded document!"
                                                        (click)="resetAsmt()"
                                                        class="btn btn-primary">
                                                        Cancel
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <p></p>
                    </div>

                <div class="col-md-12 mx-auto">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Title</th>
                                <th>Details</th>
                                <th>By Faculty</th>
                                <th>From Department</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let a of assignments">
                                <td>{{a.assignmentId}}</td>
                                <td>{{a.title}}</td>
                                <td>{{a.details}}</td>
                                <td>{{a.facultyName}}</td>
                                <td>{{a.departmentId}} ) {{a.departmentName}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
           
                </div>
            </div>
        </div>
    </div>
</div>