<div class="container">
    <div class="row">
        <div class="col-md-12 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h3>
                        <div>
                            Assignment
                        </div>
                        <hr />
                        <h4 *ngIf="apiResponse">
                            <span [style.color]="responseColor">
                                {{apiResponse}}
                            </span>
                        </h4>  
                    </h3> 
                    <div class="row" *ngIf="!newAsmtAddPanel">
                        <div class="col-4">
                            <button type="button" 
                                (click)="addAsmt()" 
                                class="btn btn-success">Add Assignment
                            </button>
                        </div>
                        <div class="col-8">
                            <div class="card">
                                <div class="card-header">
                                    <h4>
                                        Serach Panel
                                        <!-- this will remove all filter conditions and default load all assignments -->
                                        <button type="button" 
                                            (click)="clearAllFilter()" 
                                            class="btn btn-success">
                                                Clear All Filter
                                        </button>
                                    </h4>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-6">
                                            <form class="form-search" 
                                                [formGroup]="searchForm">
                                                <!-- department list -->
                                                <div class="form-group">
                                                    <label>Department : </label>
                                                    <select class="form-control" 
                                                        formControlName="SDepartmentId">
                                                        <option disabled>Select Department</option>
                                                        <option value={{d.departmentId}} 
                                                            *ngFor="let d of departments">
                                                            {{d.departmentName}}
                                                        </option>
                                                    </select>
                                                </div>
                                                <!-- faculty list -->
                                                <div class="form-group">
                                                    <label>Faculty : </label>
                                                    <select class="form-control" 
                                                        formControlName="SFacultyId">
                                                        <option disabled>Choose Faculty</option>
                                                        <option value={{f.facultyId}} 
                                                            *ngFor="let f of facs">
                                                            {{f.facultyName}}
                                                        </option>
                                                    </select>                                                
                                                </div>
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <button type="button" 
                                                                (click)="searchBy()" 
                                                                class="btn btn-success">
                                                                Search
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>
                <div class="card-body">
                    <div class="container" *ngIf="newAsmtAddPanel">
                        <div class="col-md-7 mx-auto">
                            <div class="card">
                                <div class="card-header">
                                    <div class="row">
                                        <div class="col-8">
                                            <!-- file upload control -->
                                            <app-upload 
                                                (onUploadFinished)="uploadFinished($event)">
                                            </app-upload>
                                        </div>
                                        <div class="col-4">
                                            <button type="button" 
                                                (click)="cancel()" 
                                                class="btn btn-primary">
                                                Cancel
                                            </button>
                                        </div>
                                    </div>                               
                                </div>
                                <div class="card-body">
                                    <form *ngIf="asmtDetailsPanel" 
                                        class="form-asmt" 
                                        [formGroup]="asmtForm" 
                                        (ngSubmit)="onSubmit()">
                                        <div class="form-group">
                                            <label>Title</label>
                                            <input type="text" class="form-control" formControlName="Title">
                                            <div *ngIf="submitted && asmtFormControl.Title.errors?.required" 
                                                class="alert alert-danger mt-2">
                                                Title Required
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Details</label>
                                            <input type="text" class="form-control" 
                                                formControlName="Details">                                          
                                            <div *ngIf="submitted && asmtFormControl.Details.errors?.required" 
                                                class="alert alert-danger mt-2">
                                                Details Required
                                            </div>
                                        </div>

                                        <!-- date complexity -->
                                        <div class="form-group">
                                            <label>Asmt. Last Submission Date</label>
                                            <div class="input-group">
                                                <input class="form-control" 
                                                    placeholder="yyyy-mm-dd" 
                                                    name="dp" formControlName="AsmtLastDate" 
                                                    ngbDatepicker
                                                    #d="ngbDatepicker">
                                                <div class="input-group-append">
                                                    <button class="btn btn-outline-secondary calendar" 
                                                    (click)="d.toggle()" type="button"></button>
                                                </div>
                                            </div>
                                            <div *ngIf="submitted && asmtFormControl.AsmtLastDate.errors?.required" 
                                                class="alert alert-danger mt-2">
                                                Assignment Last Submission Date Required
                                            </div>
                                        </div>
                                  

                                        <!-- department list -->
                                        <div class="form-group">
                                            <label>Department : </label>
                                            <select class="form-control" 
                                                (change)="changeDepartment($event)"
                                                formControlName="DepartmentId">
                                                <option value="">Choose Department</option>
                                                <option value={{d.departmentId}} 
                                                    *ngFor="let d of departments">
                                                    {{d.departmentName}}
                                                </option>
                                            </select>                                         
                                            <div *ngIf="submitted && asmtFormControl.DepartmentId.errors?.required" 
                                                class="alert alert-danger mt-2">
                                                Please choose Department
                                            </div>
                                        </div>

                                        <!-- faculty list -->
                                        <div class="form-group">
                                            <label>Faculty : </label>
                                            <select class="form-control" 
                                                formControlName="FacultyId">     
                                                <option disabled>Choose Faculty</option>
                                                <option value="">Choose Faculty</option>                                                
                                                <option value={{f.facultyId}} 
                                                    *ngFor="let f of faculties">
                                                    {{f.facultyName}}
                                                </option>
                                            </select>                                          
                                            <div *ngIf="submitted && asmtFormControl.FacultyId.errors?.required" 
                                                class="alert alert-danger mt-2">
                                                Please choose Faculty
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <button type="submit" class="btn btn-success">
                                                        New Assignment
                                                    </button>
                                                </div>
                                                <div class="col-sm-6">
                                                    <button type="button" 
                                                        data-toggle="tooltip" 
                                                        title="If you Cancel, then you will loose any uploaded document!"
                                                        (click)="resetAsmt()"
                                                        class="btn btn-primary">
                                                        Cancel
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <p></p>
                    </div>


                <!-- if search is enabled -->
                <div *ngIf="searchEnabled" class="col-md-10 mx-auto">
                    <div *ngFor="let a of filteredAssignments">
                        <div class="card">
                            <div class="card-header" style="background-color: lightcoral;">
                                <h5>
                                    Department : {{a.departmentId}} # {{a.departmentName}}
                                    <p></p>
                                    Faculty : {{a.facultyName}}
                                </h5>
                            </div>
                            <div class="card-body">
                                Assignment : {{a.assignmentId}} # {{a.title}}
                                <p></p>
                                Details : {{a.details}}
                                <p></p>
                                Submission Date : {{a.asmtLastDate | date : "dd-MMM-y"}}
                            </div>
                            <div class="card-footer">
                                Assignment File : {{a.asmtFileName}}
                                <p></p>
                                <button type="button" (click)="downloadAsmt(a)" class="btn btn-primary">
                                    Download
                                </button>
                            </div>
                        </div>
                        <hr />
                    </div>
                </div>
                    
                <!-- if search is not enabled -->
                <div *ngIf="!searchEnabled" class="col-md-10 mx-auto">
                    <div *ngFor="let a of assignments">
                        <div class="card">
                            <div class="card-header" 
                                style="background-color: lightcoral;">
                                <h5>
                                    Department : {{a.departmentId}} # {{a.departmentName}}
                                    <p></p>
                                    Faculty : {{a.facultyName}}
                                </h5>
                            </div>
                            <div class="card-body">
                                Assignment : {{a.assignmentId}} # {{a.title}}
                                <p></p>
                                Details : {{a.details}} 
                                <p></p>
                                Submission Date : {{a.asmtLastDate | date : "dd-MMM-y"}}
                            </div>
                            <div class="card-footer">
                                Assignment File : {{a.asmtFileName}}
                                <p></p>
                                <button type="button" 
                                    (click)="downloadAsmt(a)" 
                                    class="btn btn-primary">
                                    Download
                                </button>                            
                            </div>                          
                        </div>
                        <hr />
                    </div>                 
                </div>
            </div>
        </div>
    </div>
</div>