<div class="container">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h3>
                        <div>
                            Course-Remove
                        </div>
                        <hr />
                        <h4 *ngIf="apiResponse">
                            <span [style.color]="responseColor">
                                {{apiResponse}}
                            </span>
                            <hr />
                        </h4>
                    </h3>
                </div>
                <div *ngIf="crsRemoveVM" 
                    class="card-body" 
                    [style.color]="responseColor">
                    <div class="container">
                        <div class="col-md-10 mx-auto">
                            <h6>
                                Course # : {{crsRemoveVM.courseRemove.courseId}}
                            </h6>
                            <h6>
                                Course Name : {{crsRemoveVM.courseRemove.name}}
                            </h6>
                            <h6>
                                Error Code : {{crsRemoveVM.errorCode}}
                            </h6>
                            <div>
                                <h6>
                                    Error Message : {{crsRemoveVM.errorMessage}}
                                    <p></p>
                                    <div *ngIf="crsRemoveVM.errorCode<0">
                                        <button type="button" 
                                            (click)="removeCrs(crsRemoveVM)" 
                                            class="btn btn-danger">
                                            Force Remove Course
                                        </button>
                                    </div>
                                    <div *ngIf="crsRemoveVM.errorCode==0">
                                        <button type="button" 
                                            (click)="removeCrs(crsRemoveVM)" 
                                            class="btn btn-primary">
                                            Remove Course
                                        </button>
                                    </div>
                                </h6>
                            </div>
                            <hr />

                            <h5>
                                <u>Depending Assignments...</u>
                            </h5>
                            <h6 *ngIf="crsRemoveVM.dependingAssignments.length>=1">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Assignment #</th>
                                            <th>File Upload #</th>
                                            <th>Title</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let a of crsRemoveVM.dependingAssignments">
                                            <td>{{a.assignmentId}}</td>
                                            <td>{{a.asmtUploadId}}</td>
                                            <td>{{a.title}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </h6>
                            <h6 *ngIf="crsRemoveVM.dependingAssignments.length==0">
                                <div>
                                    N/A
                                </div>
                            </h6>                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>