<div class="container">
    <div class="col-md-5 mx-auto">
        <div class="card" 
            style="background-color:  lightgoldenrodyellow;">
            <div class="card-header">
                <h3>
                    <div>
                        #{{departmentId}}) Department - Edit
                    </div>
                    <hr />
                    <h5 *ngIf="apiResponse">
                        <span [style.color]="responseColor">
                            {{apiResponse}}
                        </span>
                        <hr />
                    </h5>
                    <h5 *ngIf="errors?.length > 0">
                        <ul [style.color]="responseColor">
                            <li *ngFor="let error of errors">
                                {{ error }}
                            </li>
                        </ul>
                    </h5>
                </h3>
            </div>
            <div class="card-body" *ngIf="editDeptPanel">
                <form class="form-dept" 
                    [formGroup]="deptForm" 
                    (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label>Department Name</label>
                        <p></p>
                        <input type="text" 
                            class="form-control" 
                            formControlName="DepartmentName">
                            <p></p>
                        <div class="alert alert-danger mt-2"
                            *ngIf="(deptFormControl.DepartmentName.touched || submitted) && deptFormControl.DepartmentName.errors?.required">
                            Department Name is required
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <button type="submit" 
                                    class="btn btn-success">
                                    Edit Department
                                </button>
                            </div>
                            <div class="col-sm-2">
                                <button type="button" 
                                    (click)="resetDept()" 
                                    class="btn btn-primary">
                                    Cancel
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>