.mainHeader {
    text-align: center;
    color: darkolivegreen;
    font-size: xx-large;
    font-weight: bold;

}

.noData {
    text-align: center;
    color: red;
    font-size: xx-large;
    font-weight: bold;
}

.studentHeader {
    text-align: center;
    vertical-align: middle;
    padding-bottom: 10px;
    padding-top: 10px;
    border: 2px solid green;
    border-radius: 10px;
    background-color: lightskyblue;
    font-size: x-large;
    color: white;
    font-weight: bold;
}

.asmtLinked {
    color: blue;
    font-weight: bold;
}

.asmtNotLinked {
    color: red;
    font-weight: bold;
}

.asmtSubmitted {
    color: green;
    font-weight: bold;
}

.asmtInfo{
    background-color: lightblue;
}

.greenClass {
    color: green;
    font-weight: bold;
}

.redClass {
    color: red;
    font-weight: bold;
}