.mainHeader {
    text-align: center;
    color: darkolivegreen;
    font-size: xx-large;
    font-weight: bold;
}

.header {
    background-color: lightgoldenrodyellow;
    color: black;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
}

.list-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 20px;
}
.checked-item,
.not-checked-item {
    margin-left: 10px;
}