.mainHeader {
    text-align: center;
    color: darkolivegreen;
    font-size: xx-large;
    font-weight: bold;
}

.header {
    background-color: lightgoldenrodyellow;
    color: black;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
}

.list-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 20px;
}
.checked-item,
.not-checked-item {
    margin-left: 10px;
}
.title{
    font-weight: bold;
    color: blue;
    text-decoration: underline;
    font-size: x-large;
}

.titleSelected {
    font-weight: bold;
    color: green;
    text-decoration: underline;
    font-size: x-large;
}

.mapSuccess {
    color: green;
    font-size: large;
    font-weight: bold;
}

.mapError {
    color: red;
    font-size: large;
    font-weight: bold;
}

h5{
    color: darkgreen;
}