<div class="container">
    <div class="row">
        <div class="col-md-12 mx-auto">
            <div class="card">
                <div class="card-header" 
                    style="background-color: lightyellow;">
                    <h3>
                        <div *ngIf="errorMessage" 
                            style="color:red;">
                            {{errorMessage}}
                        </div>
                        <div *ngIf="!errorMessage">
                            # {{studentModel.studentId}} ) {{studentModel.firstName}},
                            {{studentModel.lastName}}
                        </div>
                        <hr />
                    </h3>
                </div>
                <div *ngIf="!errorMessage" class="card-body">
                    <div class="container">
                        <div class="col-md-12 mx-auto">
                            <div class="card">
                                <div class="card-header" 
                                    style="background-color:whitesmoke;">
                                    <h4>
                                        Assignments
                                        <span style=" color: red; font-size: medium; margin-left: 100px;">
                                            Download Assignments (OR) Submit Assignments
                                        </span>
                                    </h4>
                                </div>
                                <div class="card-body" 
                                    style="background-color:white;">
                                    <div *ngIf="stdToAsmts?.length>0; else noAsmts">
                                        <div *ngFor="let a of stdToAsmts">
                                            <div class="card">
                                                <div class="card-header" 
                                                    style="background-color: lightskyblue;">
                                                    <div class="row">
                                                        <div class="col-5">
                                                            <h5>
                                                                {{a.courseName}}
                                                                <div *ngIf="a.asmtLinkStatus==0" style="color:green;">
                                                                    {{convertAsmtStatus(a.asmtLinkStatus)}}
                                                                </div>
                                                                <div *ngIf="a.asmtLinkStatus==1" style="color:red;">
                                                                    {{convertAsmtStatus(a.asmtLinkStatus)}}
                                                                </div>
                                                                <div *ngIf="a.asmtLinkStatus==2" style="color:blue;">
                                                                    {{convertAsmtStatus(a.asmtLinkStatus)}}
                                                                </div>
                                                            </h5>
                                                        </div>
                                                        <div *ngIf="a.asmtFileName" class="col-7">
                                                            {{a.asmtFileName}}
                                                            <p></p>
                                                            <div class="row">
                                                                <div *ngIf="checkAsmtLinkStatus(a)" class="col-6">
                                                                    <button type="button" (click)="downloadAsmt(a)" class="btn btn-primary">
                                                                        Download Assignment
                                                                    </button>
                                                                </div>
                                                                <div *ngIf="checkAsmtLinkStatus(a)" class="col-6">
                                                                    <!-- asmt submit control -->
                                                                    <app-submit-asmt [assignmentId]="a.assignmentId" [studentId]="studentModel.studentId"
                                                                        (onUploadFinished)="uploadFinished($event)">
                                                                    </app-submit-asmt>
                                                                </div>
                                                            </div>
                                                            <span 
                                                                *ngIf="downloadStatus && downloadFile==a.asmtFileName" [style.color]="downloadClass">
                                                                <p>
                                                                    {{downloadStatus}}
                                                                </p>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                Assignment : {{a.assignmentId}} # {{a.title}}
                                                <p></p>
                                                Details : {{a.details}}
                                                <p></p>
                                                Submission Date : {{a.asmtLastDate | date : "dd-MMM-y"}}
                                            </div>
                                            <div class="card-footer">
                                            </div>
                                        </div>
                                    </div>
                                   
                                    <ng-template #noAsmts>
                                        <div class="noAsmts">
                                            You Do Not have any Assignment To Download OR Submit !!!
                                        </div>
                                    </ng-template>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>