.mainHeader {
    text-align: center;
    color: darkolivegreen;
    font-size: xx-large;
    font-weight: bold;
}

.header {
    background-color: lightgoldenrodyellow;
    color: black;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
}

.asmtInfo{
    font-weight:bold;    
}

.greenClass {
    color: green;
    font-weight: bold;
}
.redClass {
    color: red;
    font-weight: bold;
}

.searchPanel{
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    padding-top: 20px;
    border: 2px solid red;
    border-radius: 20px;
}