<div class="container">
    <div class="header">
        <h1>University - Student Administration</h1>
    </div>
    <p></p>

    <hr />
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <h6 style="color: blueviolet;">
                Open [Any - User]
                <p></p>
                <ul>
                    <li>Login
                        <ul>
                            <li>
                                Custom JWT Authentication (UserName/Password)
                            </li>
                            <li>
                                Google oauth2 Authentication
                            </li>
                        </ul>
                    </li>
                    <li>Registration
                        <ul>
                            <li>
                                [Admin] Role - Maps User's Profile with Admin Role
                            </li>
                            <li>
                                [Student] Role - Maps Student's Profile with Student Role
                            </li>
                        </ul>
                    </li>
                </ul>
            </h6>
            <p></p>
            <hr />

            <h6 style="color:lightcoral;">
                Open [Admin - Role]
                <p></p>
                <ul>
                    <li>Department (CRUD)</li>
                    <li>Faculty (CRUD)</li>
                    <li>Course (CRUD)]</li>                  
                    <li>Student (CRUD)</li>
                    <li>Map Student To Courses</li>
                    <li>Assignment (Add)
                        <ul>
                            <li>
                                File Upload
                            </li>
                            <li>
                                Assignment Details Post
                            </li>
                            <li>
                                Map Assignment To Department-Faculty-Course
                            </li>
                        </ul>
                    </li>
                    <li>Assignment (View)</li>
                    <li>Assignment (Search By Department And/Or Faculty)</li>
                    <li>Assignment (Download)</li>
                </ul>
            </h6>
            <p></p>
            <hr />

            <h6 style="color:green;">
                Open [Student - Role]
                <p></p>
                <ul>
                    <li>My-Courses
                        <ul>
                            <li>
                                List of Courses And Related Faculties (View)
                            </li>
                            <li>
                                List of Assignments Related To Assigned Courses To Student (View)
                                <ul>
                                    <li>Download Assignment</li>
                                    <li>Submit Assignment [Submit Assignment Not Possible before Download Assignment]</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </h6>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>

