<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <div class="row">
        <div class="col-md-12 mx-auto">
            <div class="card" [style.color]="getMyDisplayColor(studentModel)">
                <div class="card-header">
                    <h3>
                        <div *ngIf="errorMessage" style="color:red;">
                            <h5>
                                {{errorMessage}}
                            </h5>
                        </div>
                        <div *ngIf="!errorMessage">
                            # {{studentModel.studentId}} ) 
                        </div>
                        <hr />
                    </h3>
                </div>
                <div *ngIf="!errorMessage" class="card-body">
                    <div class="row">                        
                        <div class="col-sm-3">
                            <h5>First Name :</h5>
                        </div>
                        <div class="col-sm-6">
                            <h5>{{studentModel.firstName}}</h5>
                        </div>
                    </div>   
                    <p></p>
                    <hr />
                    <div class="row">
                        <div class="col-sm-3">
                            <h5>Last Name :</h5>
                        </div>
                        <div class="col-sm-6">
                            <h5>{{studentModel.lastName}}</h5>
                        </div>
                    </div>
                    <p></p>
                    <hr />
                    <div class="row">
                        <div class="col-sm-3">
                            <h5>Email :</h5>
                        </div>
                        <div class="col-sm-6">
                            <h5 *ngIf="studentModel.email">{{studentModel.email}}</h5>
                            <h5 *ngIf="!studentModel.email">N/A</h5>
                        </div>
                    </div>
                    <p></p>
                    <hr />
                    <div class="row">
                        <div class="col-sm-3">
                            <h5>Phone :</h5>
                        </div>
                        <div class="col-sm-6">
                            <h5 *ngIf="studentModel.phoneNumber">{{studentModel.phoneNumber}}</h5>
                            <h5 *ngIf="!studentModel.phoneNumber">N/A</h5>
                        </div>
                    </div>
                    <p></p>
                    <hr />
                    <div class="row">
                        <div class="col-sm-3">
                            <h5>Gender :</h5>
                        </div>
                        <div class="col-sm-6">
                            <h5>{{convertGender(studentModel.gender)}}</h5>
                        </div>
                    </div>
                    <p></p>
                    <hr />
                </div>
            </div>
        </div>
    </div>
</div>