.mainContainer {
    padding: 50px;
}

.asmtCreateSuccess {
    color: green;
    font-size: large;
    font-weight: bold;
}

.asmtCreateError {
    color: red;
    font-size: large;
    font-weight: bold;
}

.modelError {
    color: red;
    font-size: medium;
    font-weight: bold;
    margin-top: 30px;
}

.uploadSuccess {
    margin-top: 20px;
    color: green;
    font-size: large;
}

.uploadError {
    margin-top: 20px;
    color: red;
    font-size: large;
}

.asmtUploadPanel{
    text-align: center;
    vertical-align: middle;
    color: darkblue;
    background-color: lightblue;
    padding-bottom: 10px;
    padding-top: 10px;
    border: 2px solid red;
    border-radius: 20px;
}