.mainContainer {
    padding: 50px;
}

.facRemoveSuccess {
    color: green;
    font-size: large;
    font-weight: bold;
}

.facRemoveError {
    color: red;
    font-size: large;
    font-weight: bold;
}

.headerText {
    color: red;
}

.noData{
    text-align: center;
    color: red;
    font-size: xx-large;
    font-weight: bold;
}
