.mainContainer {
    padding: 50px;
}

.deptCreateSuccess {
    color: green;
    font-size: large;
    font-weight: bold;
}

.deptCreateError {
    color: red;
    font-size: large;
    font-weight: bold;
}

.modelError {
    color: red;
    font-size: medium;
    font-weight: bold;
    margin-top: 30px;
}
