<div class="container">
    <div class="row">
        <div class="col-md-12 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h3>
                        <div>
                            Student To Assignments Map
                        </div>
                        <hr />
                        <div>
                            <h5>
                                <ul>
                                    <li>Student's Course(s)</li>
                                    <li>Course wise Assignment(s)</li>
                                </ul>
                            </h5>
                        </div>
                        <h4 *ngIf="apiResponse">
                            <span [style.color]="responseColor">
                                {{apiResponse}}
                            </span>
                        </h4>
                        <div *ngIf="errorMessage">
                            {{errorMessage}}
                        </div>
                    </h3>
                </div>
                <div *ngIf="!errorMessage" class="card-body">
                    <div class="container">
                        <div class="col-md-12 mx-auto">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card">
                                        <div class="card-header">
                                            <h4>
                                                Student
                                            </h4>
                                        </div>
                                        <div class="card-body">
                                            <h5>
                                                # {{studentModel.studentId}} ) {{studentModel.firstName}},
                                                {{studentModel.lastName}}
                                            </h5>
                                        </div>
                                    </div>
                                    <hr />
                                    <p></p>

                                    <div class="card">
                                        <div class="card-header">
                                            <h4>
                                                Assignments 
                                                <span style=" color: red; font-size: medium; margin-left: 100px;">
                                                    You can only download following Assignments...
                                                </span>    
                                            </h4>                                         
                                        </div>
                                        <div class="card-body">     
                                            <div *ngFor="let a of stdToAsmts">
                                                <div class="card">
                                                    <div class="card-header" 
                                                        style="background-color: lightskyblue;">
                                                        <div class="row">
                                                            <div class="col-6">
                                                                <h5>
                                                                    {{a.courseName}}
                                                                    <div *ngIf="a.asmtLinkStatus==0" style="color:green;">
                                                                        {{convertAsmtStatus(a.asmtLinkStatus)}}
                                                                    </div>
                                                                    <div *ngIf="a.asmtLinkStatus==1" style="color:red;">
                                                                        {{convertAsmtStatus(a.asmtLinkStatus)}}
                                                                    </div>
                                                                    <div *ngIf="a.asmtLinkStatus==2" style="color:blue;">
                                                                        {{convertAsmtStatus(a.asmtLinkStatus)}}
                                                                    </div>
                                                                </h5>
                                                            </div>
                                                            <div *ngIf="a.asmtFileName" class="col-6">
                                                                {{a.asmtFileName}}
                                                                <p></p>
                                                                <button type="button" 
                                                                    (click)="downloadAsmt(a)" 
                                                                    class="btn btn-primary">
                                                                    Download Assignment File
                                                                </button>
                                                                <span *ngIf="downloadStatus && downloadFile==a.asmtFileName" 
                                                                    [style.color]="downloadClass">
                                                                    <p>
                                                                        {{downloadStatus}}
                                                                    </p>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-body">
                                                    Assignment : {{a.assignmentId}} # {{a.title}}
                                                    <p></p>
                                                    Details : {{a.details}}
                                                    <p></p>
                                                    Submission Date : {{a.asmtLastDate | date : "dd-MMM-y"}}
                                                </div>
                                                <div class="card-footer">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>